  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8;
}

/* Header Styles */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: rgb(116, 216, 156);
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
}

.leftItem{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
}

img{
    
    height: 90px;
    width: 120px;
}

.nav{
    display: flex;
    align-items: center;
    gap:4em;
}

.navLink{
    margin-right: .5em;
    font-weight: 500;
    cursor: pointer;

    justify-content: space-evenly;
    transition: all .5s ease-in-out;
}

.navLink:hover{
    opacity: .5;
}

.rightItem{
    position: relative;
}


main{
    position:inherit;
}
#main{
    
    background-color: rgb(230, 242, 238);
    height:0px;
    padding-top: 120px;
    width:auto;
    display:flex;
    flex-wrap: wrap;
    
    text-align: center;

}
#tag{
    font-size: large;
    text-align: center;
    font-style: oblique;
    font-weight: 200;
    
}
/* card styles */


@media screen and (min-width:650px) {
    .itemContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@media screen and (min-width:900px) {
    .itemContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}

@media screen and (min-width:1100px) {
    .itemContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }   
}
.login-form{
    position: absolute;
    top:110%;right:-110%;
    width:20rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: white;
    text-align: center;

}
.login-form.active{
    right:1.2rem;
    transition: .4s linear;

}
 .login-form a{
font-size: 1.2rem;
text-transform: uppercase;
border-radius: 0.5rem;
color:var(--black);

}

/* Shopping Cart List */
footer{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fbf8f8;
  color: #fff;
  text-align: center;
  padding: 1rem;
  z-index: 1000;
    
}

ul{
    margin-top:20px
}
ul a{
    font-size: 0.85rem;
    display:block;
    margin-top: 20px;
    color:#120a0a;
}
.foot-pannel4{
    bottom:auto;
    background-color: #d7e4e1;
    color:rgb(25, 13, 13);
    display:flex;
    justify-content:flex-start;   
    height:170px;
    width:100%;
    z-index: 1000;
}

.pages{
    padding-top:1px;
    
}
.copyright{
    padding-top:5px;
    
}
